.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: center;
}

/* NAVBAR */

/* https: //coolors.co/palette/ef476f-ffd166-06d6a0-118ab2-073b4c */

.nav-mystyle {
  background-color: var(--primary-green) !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-logo-font-mystyle {
  letter-spacing: 0.15rem;
  font-weight: 700;
}

.navbar-brand {
  color: #073b4c !important;
}

.nav-font-mystyle {
  color: #073b4c !important;
  font-size: 18px;
  font-weight: 300;
}

.btn-navbar-mystyle {
  color: #073b4c !important;
  font-size: small;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.btn-navbar-mystyle:hover,
user-navbar-mystyle:hover,
.nav-font-mystyle:hover,
.navbar-brand:hover {
  color: var(--secondary) !important;
}

.user-navbar-mystyle {
  font-size: 20px !important;
}

/* GENERAL */

p {
  font-size: large;
}

.btn {
  color: #073b4c !important;
  letter-spacing: 0.1rem;
  font-weight: bolder;
}

h1 {
  color: #073b4c !important;
  font-weight: 700;
}

th {
  font-size: larger;
  letter-spacing: 0.1rem;
  font-weight: 900;
}

tr {
  font-size: large;
}

h5,
h6 {
  font-size: large;
}

.btn-outline-primary {
  border-color: var(--primary) !important;
  border-width: 2px;
  color: var(--primary) !important;
  /*  --bs-btn-padding-y: .25rem!important;
    --bs-btn-padding-x: .5rem!important;
    --bs-btn-font-size: .75rem!important;
    padding : 0.05rem 0.5rem!important; */
}

.btn-outline-primary:hover {
  color: #f8f9fa !important;
  background-color: var(--primary) !important;
}

.btn-primary {
  /* border-color: #118AB2 !important; */
  border-color: var(--primary) !important;
  border-width: 2px;
  color: #f8f9fa !important;
  background-color: var(--primary) !important;
}

.btn-primary:hover {
  color: var(--primary) !important;
  background-color: #ffffff !important;
}

label,
.react-datepicker,
.form-control,
input,
.text-danger {
  font-size: large;
}

label {
  font-size: 16px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  --bs-table-accent-bg: var(--primary-light);
}

.table-border-mystyle {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.table {
  border-color: var(--background-color-darker);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: var(--background-color-darker);
  margin-bottom: 0px !important;
  border-radius: 1rem;
}

.table > thead {
  background-color: var(--background-color-darker);
}

tr {
  border-width: 0 !important;
  font-size: 16px !important;
}

.table > :not(:first-child) {
  border-width: 0 !important;
}

.border-secondary,
.border,
.form-control,
.form-select,
input {
  border-color: var(--background-color-darker) !important;
}

input {
  border: 1px solid var(--background-color-darker) !important;
}

.form-control:disabled {
  background-color: #dce2e1;
}

.bg-yellow {
  background-color: var(--primary-light);
}

/* LOADING COMPONENT */
.cssfx-circular-progress-svg {
  width: var(--width);
  height: var(--height);
  transform-origin: center;
  animation: cssfx-circular-progress-rotate var(--duration) linear infinite;
}

.cssfx-circular-progress-circle {
  fill: none;
  stroke: var(--color);
  stroke-width: 3;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: cssfx-circular-progress-dash calc(var(--duration) * 3 / 4)
    ease-in-out infinite;
}

@keyframes cssfx-circular-progress-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cssfx-circular-progress-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

/* Visionneuse */

.section-center {
  margin: 0 0;
  padding: 0 auto;
  width: 90vw;
  /* have to have a height */
  height: 1000px;
  max-width: 1000px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.visionneuseCard {
  position: absolute;
  top: 0;
  /* left: 0; */
  width: 100%;
  /*  height: 100%; */
  opacity: 0;
  transition: all 0.3s linear;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.visionneuseCard.activeSlide {
  opacity: 1;
  display: block;
  transform: translateX(0);
}

.visionneuseCard.lastSlide {
  transform: translateX(-100%);
}

.visionneuseCard.nextSlide {
  transform: translateX(100%);
}

.prev,
.next {
  position: absolute;
  top: 300px;
  background: var(--primary-green);
  color: var(--primary);
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  z-index: 10;
  padding: 1rem 0;
}

.prev:hover,
.next:hover {
  background: var(--primary);
  color: white;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.imageCard {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.filter-style {
  font-size: 14px;
}

.form-style {
  font-size: 14px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-creation-sortie {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.sortie-card-style {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}
